UPF_ENV=development
UPF_DATABASE_PATH=data/prospects.sqlite3
UPF_LOG_LEVEL=INFO
UPF_OUTPUT_DIR=output
UPF_CACHE_DIR=data/cache
UPF_LOG_DIR=logs
UPF_USER_AGENT=USURALProspectFinder/0.1 (+https://usural.com)
UPF_GLOBAL_CONCURRENCY=10
UPF_DOMAIN_CONCURRENCY=2
UPF_REQUEST_TIMEOUT=20
UPF_MAX_PAGES_PER_DOMAIN=8
UPF_MAX_REDIRECTS=5
UPF_MAX_RESPONSE_BYTES=2000000
UPF_MINIMUM_DOMAIN_DELAY_SECONDS=0.25
UPF_SEARCH_API_KEY=
UPF_REVIEW_API_KEY=
UPF_PERFORMANCE_API_KEY=
